@model doee.Models.Doacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDoador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDoador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCartao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCartao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCartao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCartao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodSeguranca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodSeguranca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instituicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instituicao.CNPJ)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
