@model IEnumerable<WebApplication2.Models.Doacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Minhas Doações</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
          
           
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instituicao)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-controller="Instituicoes" asp-action="Details" asp-route-id="@item.instituicaoCNPJ">Veja a Instituição</a>
               
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                @if (User.IsInRole("Adm"))
                {
                    <a class="btn btn-danger" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
